<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container" >
           <a class="navbar-brand" href="#">SANTA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">

            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Behavior <span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">             
                                <a class="dropdown-item" href="/behavior"> All Behaviors</a>
                <a class="dropdown-item" href="/behavior/add_behavior"> Add Behavior</a>
              </div>
            </li>
                        <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Category <span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">             
                                <a class="dropdown-item" href="/category"> All Categories</a>
                <a class="dropdown-item" href="/category/add_category"> Add Category</a>
              </div>
            </li>
                        <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Function Assistant <span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">             
                                <a class="dropdown-item" href="/function_assistant"> All Functions</a>
                <a class="dropdown-item" href="/function_assistant/add_function_assistant"> Add Function</a>
              </div>
            </li>
                        <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Needs Kid <span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">             
                                <a class="dropdown-item" href="/needs_kid"> All Needs</a>
                <a class="dropdown-item" href="/needs_kid/add_needs_kid"> Add One</a>
              </div>
            </li>
                        <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Person <span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">             
                                <a class="dropdown-item" href="/person"> All Persons</a>
                <a class="dropdown-item" href="/person/add_person"> Add Person</a>
              </div>
            </li>
              
              <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Santa's Assistant <span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">             
                                <a class="dropdown-item" href="/santas_assistant"> All Santa's Assistants</a>
                <a class="dropdown-item" href="/santas_assistant/add_santas_assistant"> Add One</a>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Toy <span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">             
                                <a class="dropdown-item" href="/toy"> All Toys</a>
                <a class="dropdown-item" href="/toy/add_toy"> Add One</a>
              </div>
            </li>

              <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> User <span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">             
                <a class="dropdown-item" href="/user"> All Users</a>
                <a class="dropdown-item" href="/user/add_user"> Add One</a>
              </div>
            </li>

             <li><a href="/santa_view">Back</a></li>

          </ul>
        </div>


  </div>
</nav>

