{{> navigation_user }}
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/user/add" method = "POST">
                        <div class="form-group">
                            <input type="text" class = "form-control" name = "Username" placeholder="Username" autofocus required>
                        </div>

                        <br>
                        <div class="form-group">
                            <input type="password" class = "form-control" name = 'Password'  placeholder="Password" required>
                        </div>

                        <br>
                        <div class="form-group">
                            <input type="text" class = "form-control" name = 'Role'  placeholder="Role" required>
                        </div>
                        <center>                    
                        <div class="form-group">
                            <button class = "btn btn-success btn-block">
                                Submit
                            </button>
                        </center>
                        </div>
                    </form>
                        
                </div>
            </div>
        </div>
    </div>
</div>





















